<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Shocals Food</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deals" href="/tabs/deals">
      <ion-icon aria-hidden="true" name="bag-handle"></ion-icon>
      <ion-label>Deals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="restaurants" href="/tabs/Restaurants">
      <ion-icon aria-hidden="true" name="restaurant"></ion-icon>
      <ion-label>Restaurants</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orders" href="/tabs/orders">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>orders</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
