<ion-grid>
  <ion-row *ngFor="let restaurant of restaurants">
    <ion-col>
      <ion-card>
        <div style="position: relative">
          <img src="{{ restaurant.imageUrl }}" alt="{{ restaurant.name }}" />
          <span style="z-index: 10">
            {{ restaurant.orderBefore }}
          </span>
        </div>
        <ion-card-header>
          <ion-card-subtitle class="card-subtitle">
            {{ restaurant.cuisine }}
          </ion-card-subtitle>
          <ion-card-title class="card-title">
            <ion-col>
              <img src="{{ restaurant.vegIconUrl }}" alt="Veg" />
              {{ restaurant.name }}
            </ion-col>
            <ion-col class="restaurants-rating" offset="3">
              <img src="assets/Images/star.png" alt="Star" />
              {{ restaurant.rating }}
            </ion-col>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
          Next Delivery Slot: Today 12.00 pm - 14.00 pm
        </ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col size="3"> {{ restaurant.distance }} </ion-col>
            <ion-col size="3"> {{ restaurant.location }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
