.card-subtitle{
    font-size: 10px;
  }
  .card-title{
    font-size: medium;
    padding-bottom: 5px;
  }
  .card-content{
    font-size: 0.9em;
    color: #00A651;
  }
  .restaurants-rating{
    font-weight: 100;
    font-size: smaller;
    border:#DFDFDF 1px solid;
    padding: 1px;
  }