<ion-grid>
  <ion-row *ngFor="let restaurant of restaurants">
    <ion-col>
      <ion-card>
        <ion-header class="restaurant-image">
          <img src="{{ restaurant.imageUrl }}" alt="{{ restaurant.name }}" />
          <span class="orderBefore">
            {{ restaurant.orderBefore }}
          </span>
          <span class="restaurant-offer">
            {{ restaurant.offer }}
            <span class="restaurant-offer-span" *ngIf="restaurant.offer">OFF</span>
          </span>
          <span class="restaurant-favourites">
            <img src="{{ restaurant.favourites }}"
          /></span>
        </ion-header>
        <ion-card-header style="padding: 0px">
          <ion-card-subtitle class="card-subtitle">
            {{ restaurant.cuisine }}
          </ion-card-subtitle>
          <ion-card-title class="card-title">
            <ion-col>
              <img src="{{ restaurant.vegIconUrl }}" alt="Veg" />
              {{ restaurant.name }}
            </ion-col>
            <span class="card-rating">
              <img src="assets/Images/star.png" alt="Star" />
              {{ restaurant.rating }}
            </span>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
          Next Delivery Slot: Today 12.00 pm - 14.00 pm
        </ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col size="3"> {{ restaurant.distance }} </ion-col>
            <ion-col size="3"> {{ restaurant.location }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
