<ion-grid>
  <ion-row>
      <!-- Restaurants Cards are printed by itration -->  
    @for (restaurant of restaurants; track restaurant.name) {
      <ion-col  >
        <!-- <ion-card> -->
          
        <ion-card-header class="restaurant">
            <ion-card-subtitle class="restaurant-name">
            {{ restaurant.name }}
          </ion-card-subtitle>
          <ion-card-subtitle class="restaurant-special">
            {{ restaurant.cuisine }}
          </ion-card-subtitle>
          <ion-card-subtitle class="restaurant-location">{{
            restaurant.location
          }}</ion-card-subtitle>
          <ion-card-title class="restaurant-img">
            <img src="{{ restaurant.imageUrl }}" alt="{{ restaurant.name }}" />
            <span class="order-before">
              <span class="order-before-span">Next Delivery Slot: </span><br />
              {{ restaurant.orderBefore }}<sup><img src="assets/Images/iWhite.png"></sup></span
            >
            <span class="restaurant-offer">
              {{ restaurant.offer }}
                          <!-- "OFF" gets printed if there is any offer -->

              @if (restaurant.offer) {
              <span class="restaurant-offer-span">OFF</span>
              }
            </span>
            <span class="restaurant-favourites">
              <img src="{{ restaurant.favourites }}"
            /></span>
          </ion-card-title>
        </ion-card-header>
        <ion-grid class="restaurant-distance">
          <ion-row class="ion-justify-content-between">
            <ion-col>{{ restaurant.distance }}km</ion-col>
            <ion-col>
              <span class="card-rating">
                <img src="assets/Images/star.png" alt="Star" />
                {{ restaurant.rating }}
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>   
       <!-- </ion-card> -->

      </ion-col>

    }
   
  </ion-row>
</ion-grid>
