<ion-app>
  <ion-header>
    <ion-toolbar>
      <div class="header-gradient">
        <ion-grid>
          <ion-row>
            <ion-col size="1" class="back-img">
              <img src="/assets/Images/Back-Icon.png" />
            </ion-col>
            <ion-col size="10" class="custom-header-title_1">Food & Drinks</ion-col>
            <ion-col size="1" class="back-img">
              <img src="/assets/Images/Close-Button.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row class="custom-header-title_2">Time To Order</ion-row>
        <ion-row class="custom-header-title-3">100+ Restaurants deliver to your location
        </ion-row>
        <ion-searchbar color="secondary" placeholder="Search Food,  Restaurant near you"
          class="search-bar"></ion-searchbar>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="Home">
    <swiper-container>
      <swiper-slide>
        <img src="/assets/Images/row-banner 1.jpg" class="banner" />
      </swiper-slide>
      <swiper-slide> <img src="/assets/Images/row-banner 1.jpg" class="banner" />
      </swiper-slide>
      <swiper-slide> <img src="/assets/Images/row-banner 1.jpg" class="banner" />
      </swiper-slide>
    </swiper-container>

    

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>



    <!--Explore component redered -->
    <app-explore></app-explore>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="9" class="top-restaurants">
          Top Restaurants near you
        </ion-col>
        <ion-col size="3">
          View all
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Top Restaurants rendered -->
    <app-top-restaurants></app-top-restaurants>
    <div class="all-restaurants">All Restaurants</div>
    <ion-grid>
      <ion-row>
        <ion-col offset="0.3" class="all-restaurants-options">
          <span class="options-text">Sort By</span>
          <img src="/assets/Images/Group.png" class="options-text-img" />
        </ion-col>
        <ion-col offset="0.3" class="all-restaurants-options"><span class="options-text">Today</span></ion-col>
        <ion-col offset="0.3" class="all-restaurants-options">Pre-Booking</ion-col>
        <ion-col offset="0.3" class="all-restaurants-options"><span class="options-text">Veg only</span></ion-col>
      </ion-row>
    </ion-grid>

    <!--Restaurants card component gets rendered here-->
    <app-restaurants></app-restaurants>
  </ion-content>

</ion-app>